name: centaurx

services:
  centaurx:
    image: docker.io/pktsystems/centaurx:v0.2.1-0.20260107132109-9c7a813f2d2e
    container_name: centaurx
    read_only: true
    environment:
      - HOME=/centaurx
    tmpfs:
      - /tmp
      - /run
      - /var/run
      - /var/tmp
      - /centaurx
    ports:
      - "27480:27480"
      - "27422:27422"
    volumes:
      - ${HOME}/.centaurx/state:/cx/state
      - ${HOME}/.centaurx/repos:/cx/repos
      - ${HOME}/.centaurx/config-for-container.yaml:/cx/config-for-container.yaml:ro
      - /run/user/${UID}/podman/podman.sock:/cx/podman.sock:ro
    command: ["serve", "-c", "/cx/config-for-container.yaml"]
