name: centaurx

services:
  centaurx:
    image: {{ .ServerImage }}
    container_name: centaurx
    read_only: true
    environment:
      - HOME=/centaurx
    tmpfs:
      - /tmp
      - /run
      - /var/run
      - /var/tmp
      - /centaurx
    ports:
      - "27480:27480"
      - "27422:27422"
    volumes:
      - {{ .HostStateDir }}:/cx/state
      - {{ .HostRepoDir }}:/cx/repos
      - {{ .HostConfigPath }}:/cx/config-for-container.yaml:ro
      - {{ .HostPodmanSock }}:/cx/podman.sock:ro
    command: ["serve", "-c", "/cx/config-for-container.yaml"]
